body {
  background-color: white;
  font-family: Source Sans Pro;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  font-family: 'Oswald', sans-serif;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
}

ul.menu li {
  float: left;
  width: 100px;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #111111;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.content {
  padding: 16px;
}