body {
  background-color: white;
  font-family: Source Sans Pro;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  font-family: 'Oswald', sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}